<p>Current Commit:
  <%= link_to git_commit_sha_short,
              "https://github.com/shakacode/react-webpack-rails-tutorial/commit/#{git_commit_sha}",
              id: "git-commit-sha" %>
</p>
<ul>
  <li>
    Please see the
    <%= link_to "github.com/shakacode/react-webpack-rails-tutorial/README.md",
                "https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/README.md" %>
    for details of how this example site was built.
  </li>
</ul>
<hr/>
